[Unit]
Description=Quizmaster Backend
After=network.target

[Service]
User=blaze
WorkingDirectory=/home/blaze/apps/quizmaster-backend
ExecStart=/home/blaze/apps/quizmaster-backend/quizmaster-backend --config=/home/blaze/apps/quizmaster-backend/cmd/.env_example
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target